<ion-header [translucent]="true" class="ion-header">
  <ion-toolbar>
    <div class="header-content">
      <ion-buttons slot="start">
        <ion-button defaultHref="/login">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>
      Institut Teknologi Sepuluh Nopember
    </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/Logo itspku.png" />
    <ion-card-header>
      <ion-card-title>Informatika</ion-card-title>
      <ion-card-subtitle>Informasi Teknologi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Teknologi yang digunakan adalah teknologi komputer dan perangkat lunak
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/Logo itspku.png" />
    <ion-card-header>
      <ion-card-title>keperawatan</ion-card-title>
      <ion-card-subtitle>keperawatan</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      keperawatan
    </ion-card-content>
  </ion-card>
</ion-content>
